include ../components/variable

section.about-company.py-100
  .container
    .row
      .col-lg-6.col-md-12.data
        h2 About Our Company
        h3 Providing Your Business With A Quality IT Service is Our Passion
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim
        .analyts
          .analyt
            p.flex-between IT Consulting
              span 90%
            span.line
              span.data-prog(style="width: 90%")
          .analyt
            p.flex-between Cloud Solutions
              span 75%
            span.line
              span.data-prog(style="width: 75%")
          .analyt
            p.flex-between Managed IT Service
              span 85%
            span.line
              span.data-prog(style="width: 85%")
        button: a(href="#") Learn More
      .col-lg-6.col-md-12.photo
        div: img(src="assets/images/about.jpg" alt="About Company")