section.blog
  block header
    .head
      h2 Blog & Article
      p Recent Blog
  .container
    .row
      .col-lg-4.col-md-6.col-sm-12.figure
        .img
          img(src="assets/images/blog/blog-1.jpg", alt="")
        .data
          .author
            i.fa-solid.fa-user
            | Author 
            i.fa-regular.fa-calendar
            | 17 June 2024
          h3 Planning for a Safe Return to the Workplace IT Solutions
          p Lorem ipsum dolor sit amet, consectetu adipiscing elit, sed eiusmod tempor incididunt ut labore dolore magna aliqua
          a(href="blog-details.html").my-10
            i.fa-solid.fa-arrow-right-long 
            span Read More
      .col-lg-4.col-md-6.col-sm-12.figure
        .img
          img(src="assets/images/blog/blog-2.jpg", alt="")
        .data
          .author
            i.fa-solid.fa-user
            | Author 
            i.fa-regular.fa-calendar
            | 20 June 2024
          h3 Announcing Our New Smiles for Success Charity
          p Lorem ipsum dolor sit amet, consectetu adipiscing elit, sed eiusmod tempor incididunt ut labore dolore magna aliqua
          a(href="blog-details.html").my-10
            i.fa-solid.fa-arrow-right-long 
            span Read More
      .col-lg-4.col-md-6.col-sm-12.figure
        .img
          img(src="assets/images/blog/blog-3.jpg", alt="")
        .data
          .author
            i.fa-solid.fa-user
            | Author 
            i.fa-regular.fa-calendar
            | 25 June 2024
          h3 Machine Learning Applications for Every Industry
          p Lorem ipsum dolor sit amet, consectetu adipiscing elit, sed eiusmod tempor incididunt ut labore dolore magna aliqua
          a(href="blog-details.html").my-10
            i.fa-solid.fa-arrow-right-long 
            span Read More
