section.contact-info 
  block header
    .head
      h2 Find Us
      p Contact Info
  .container 
    .row
      .col-lg-4.col-md-6.col-sm-12.item.wow.fadeInLeftBig(data-wow-delay=".1s")
        h3 USA Headquarter
        p 304 NW St Homestead, Florida, Melrose Street, Water Mill, 76B Overlook Drive Chester, PA 19013, Flemingsburg USA.
        span 080 707 555-321
        span demo@example.com
      .col-lg-4.col-md-6.col-sm-12.item.wow.fadeInUpBig(data-wow-delay=".1s")
        h3 New York Office
        p 1540 Pecks Ridge Tilton Rd Flemingsburg, Kentucky(KY), 4104188 Fulton Street Blackwood, NJ 08012, London.
        span 080 707 555-321
        span demo@example.com
      .col-lg-4.col-md-6.col-sm-12.item.wow.fadeInRightBig(data-wow-delay=".1s")
        h3 Panama Office
        p 103 Richard Ave Ashville, Ohio, Water Mill,3468 16th Hwy Pangburn, Arkansas(AR), Charolais Ashville, Virginia, Panama.
        span 080 707 555-321
        span demo@example.com
