section.customers
  block header
    .head
      h2 Trusted By Over 1500
      p Our Customers
  .container
    each num in [1, 2, 3, 4, 5, 6, 7, 8, 9]
      span.customer.wow.shake(data-wow-delay=".3s")
        img(src=`assets/images/partner/client-${num}.png`, alt="")
