section.landing4
  .slider.slider-prlx
    .swiper-container.parallax-slider
      .swiper-wrapper
        .swiper-slide
          .bg-img.valign(data-background="assets/images/slider-1.jpg" data-overlay-dark="5" style="background-image: url('assets/images/slider-1.jpg');")
            .container
              .row
                .col-lg-8.offset-lg-2.col-md-12
                  .caption
                    .anchor
                      a(href="#"): i.fa-brands.fa-facebook-f
                      a(href="#"): i.fa-brands.fa-x-twitter
                      a(href="#"): i.fa-brands.fa-youtube
                      a(href="#"): i.fa-brands.fa-linkedin
                    h1 We Provide Many Kind of Technology Solutions
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor magna aliqua, magna aliqua. ipsum is simply dummy text of the printing.
                    .banner-btn.home-slider-btn
                      button.default-btn.one IT Services
                        span
                      button.default-btn Contact Us
                        span
        .swiper-slide
          .bg-img.valign(data-background="assets/images/slider-2.jpg" data-overlay-dark="5" style="background-image: url('assets/images/slider-2.jpg');")
            .container
              .row
                .col-lg-8.offset-lg-2.col-md-12
                  .caption
                    .anchor
                      a(href="#"): i.fa-brands.fa-facebook-f
                      a(href="#"): i.fa-brands.fa-x-twitter
                      a(href="#"): i.fa-brands.fa-youtube
                      a(href="#"): i.fa-brands.fa-linkedin
                    h1 Best IT Solutions & Business Services Company
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor magna aliqua, magna aliqua. ipsum is simply dummy text of the printing.
                    .banner-btn.home-slider-btn
                      button.default-btn.one Learn More
                        span
                      button.default-btn Contact Us
                        span
      // slider setting
      .control-text
        .swiper-button-prev.swiper-nav-ctrl.prev-ctrl.cursor-pointer
          span.arrow.prv
        .swiper-button-next.swiper-nav-ctrl.next-ctrl.cursor-pointer
          span.arrow.nxt
      .swiper-pagination
