section.landing2
  .container
    .row
      .col-lg-6.col-md-12.col-sm-12.title
        h1 Quality IT Service
        h3 Your Successful Business, Our Fantastic 
          span IT Support.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor magna aliqua, magna aliqua. ipsum is simply dummy text of the printing.
        button.default-btn
          a(href="services-details.html") Our Service
          span
        .button: i.fas.fa-caret-right
      .col-lg-6.col-md-12.col-sm-12.photo
        .banner-image
          img(src="assets/images/home-font-2.png" alt="")