section.landing2
  .home-shape-animation
    .shape-3
      img(src="assets/images/shape/3.png" alt="shape image")
    .shape-4
      img(src="assets/images/shape/4.png" alt="shape image")
    .shape-2
      img(src="assets/images/shape/2.png" alt="shape image")
    .shape-5
      img(src="assets/images/shape/5.png" alt="shape image")
    .shape-6
      img(src="assets/images/shape/6.png" alt="shape image")
    .shape-1
      img(src="assets/images/shape/1.png" alt="shape image")
    .shape-7
      img(src="assets/images/shape/7.png" alt="shape image")
  .container
    .row
      .col-lg-6.col-md-12.col-sm-12.title
        h1 Quality IT Service
        h3 Your Successful Business, Our Fantastic 
          span IT Support.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor magna aliqua, magna aliqua. ipsum is simply dummy text of the printing.
        .buttons2
          button.default-btn
            a(href="services-details.html") Our Service
            span
          .button
            span: i.fas.fa-caret-right
      .col-lg-6.col-md-12.col-sm-12.photo
        .banner-image
          img(src="assets/images/home-font-2.png" alt="")