section.landing3
  #particles-js
  .container
    .row
      .col-lg-6.col-md-12.col-sm-12.title
        .anchor
          a(href="#"): i.fa-brands.fa-facebook-f
          a(href="#"): i.fa-brands.fa-x-twitter
          a(href="#"): i.fa-brands.fa-youtube
          a(href="#"): i.fa-brands.fa-linkedin
        h1 IT Solutions & Business Services Company
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor magna aliqua, magna aliqua. ipsum is simply dummy text of the printing.
        button.default-btn-one.special
          a(href="services1.html") Our Service
          span
        button.active.default-btn-two.special
          a(href="contact.html") Contact Us
          span
      .col-lg-6.col-md-12.col-sm-12.photo(data-tilt)
        .banner-image
          img(src="assets/images/home-font-3.png" alt="")