section.map-section
  .google-map
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3456.342893231965!2d31.2357!3d30.0444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458470b3a9e4a63%3A0xb67b6994992f5021!2z2KjYsdmI2LnYqNiv2YbZitix2KjZhdmI2qY!5e0!3m2!1sen!2sbd!4v1704166309039!5m2!1sen!2sbd")
