section.pricing
  block header
    .head
      h2 Popular Package
      p Pricing Plans
  .container 
    .row 
      .col-lg-4.col-md-6.col-sm-12.item.wow.fadeInLeft(data-wow-delay=".3s")
        .price 
          h3 $29.00
          h4 - Per month 
          p StartUp 
        ul 
          li Personal Use
          li Unlimited Projects
          li Project Management
          li.notsupport 27/7 Support
          li.notsupport Basic support on Github
          li.notsupport Help center access
        button.default
          a(href="index.html") Get Started
      .col-lg-4.col-md-6.col-sm-12.item.wow.fadeIn(data-wow-delay=".3s")
        .price 
          h3 $45.00
          h4 - Per month 
          p Standard
        ul 
          li Personal Use
          li Unlimited Projects
          li Project Management
          li 27/7 Support
          li.notsupport Basic support on Github
          li.notsupport Help center access
        button.default
          a(href="index.html") Get Started
      .col-lg-4.col-md-6.col-sm-12.item.wow.fadeInRight(data-wow-delay=".3s")
        .price 
          h3 $75.00
          h4 - Per month 
          p Premium
        ul 
          li Personal Use
          li Unlimited Projects
          li Project Management
          li 27/7 Support
          li Basic support on Github
          li Help center access
        button.default
          a(href="index.html") Get Started