include ../components/variable

section.py-100.services1
  block header
    .head
      h2 What We Provide
      p Our Services
  .container
    .row
      each value, index in ServicesOne[0]
        .service.col-lg-4.col-md-6.col-sm-12.p-30
          img(src=`assets/images/services/${value}` alt=`${ServicesOne[1][index]}`)
          h3.mt-30.mb-15= ServicesOne[1][index]
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt dolore magna aliqua
          a(href="services-details.html").my-10
            i.fa-solid.fa-arrow-right-long 
            span Read More
