section.subscribe
  .container
    .row
      .col-lg-3.col-md-6.col-sm-12.timer
        span(data-prog="23") 23
        span.marks +
        p Years Helping Business
      .col-lg-3.col-md-6.col-sm-12.timer
        span(data-prog="250") 250
        span.marks +
        p Working Employees
      .col-lg-3.col-md-6.col-sm-12.timer
        span(data-prog="4500") 4500
        span.marks +
        p Complete Projects
      .col-lg-3.col-md-6.col-sm-12.timer
        span(data-prog="3000") 3000
        span.marks +
        p Happy Customers