section.subscribe2
  .container
    h2 Want to work with us?
    h3.mb-30 Digitally Transform & Grow Your Business
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud consectetur voluptatem accusantium doloremque adipiscing elit.
    button.active.default-btn
      a(href="#") Call Now
      span
    button.default-btn
      a(href="#") Contact Us
      span