section.subscribe#subscribe
  .container
    .row
      .col-lg-3.col-md-6.col-sm-12.timer
        span(data-goal="23").number 0
        span.marks +
        p Years Helping Business
      .col-lg-3.col-md-6.col-sm-12.timer
        span(data-goal="250").number 0
        span.marks +
        p Working Employees
      .col-lg-3.col-md-6.col-sm-12.timer
        span(data-goal="4500").number 0
        span.marks +
        p Complete Projects
      .col-lg-3.col-md-6.col-sm-12.timer
        span(data-goal="3000").number 0
        span.marks +
        p Happy Customers