section.subscribe3
  .container
    h2 Want to work with us?
    h3 Thank You For Your Interest In Techvio.
    h3.mb-30 Let's Discuss Your New Project.
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud consectetur voluptatem accusantium doloremque adipiscing elit.
    button.default-btn
      a(href="https://www.github.com/GziXnine" target="_blank") Call Now
      span
    button.default-btn.active
      a(href="contact.html") Contact Us
      span