section.team
  .container
    .row
      .col-lg-3.col-md-6.col-sm-12.lead
        div.photo
          img(src="assets/images/team/team-1.jpg", alt="team")
          .data
            a(href="#"): i.fa-brands.fa-facebook-f
            a(href="#"): i.fa-brands.fa-x-twitter
            a(href="#"): i.fa-brands.fa-linkedin
        h4.mt-15 Ava Farrington
        p Founder, CEO
      .col-lg-3.col-md-6.col-sm-12.lead
        div.photo
          img(src="assets/images/team/team-2.jpg", alt="team")
          .data
            a(href="#"): i.fa-brands.fa-facebook-f
            a(href="#"): i.fa-brands.fa-x-twitter
            a(href="#"): i.fa-brands.fa-linkedin
        h4.mt-15 Kevin Haley
        p Co-Founder, CTO
      .col-lg-3.col-md-6.col-sm-12.lead
        div.photo
          img(src="assets/images/team/team-3.jpg", alt="team")
          .data
            a(href="#"): i.fa-brands.fa-facebook-f
            a(href="#"): i.fa-brands.fa-x-twitter
            a(href="#"): i.fa-brands.fa-linkedin
        h4.mt-15 Alishia Fulton
        p Chief Creative Officer
      .col-lg-3.col-md-6.col-sm-12.lead
        div.photo
          img(src="assets/images/team/team-4.jpg", alt="team")
          .data
            a(href="#"): i.fa-brands.fa-facebook-f
            a(href="#"): i.fa-brands.fa-x-twitter
            a(href="#"): i.fa-brands.fa-linkedin
        h4.mt-15 Lucas Martinez
        p Creative Director
