section.testimonials
  block header
    .head
      h2 Our Testimonial
      p Clients Feedback
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12
        .testimonial-slider.owl-carousel.owl-theme.owl-loaded.owl-drag
          .owl-stage-outer
            .owl-stage
              .owl-item
                .single-testimonial
                  .rating-box
                    ul
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                  .testimonial-content
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.
                  .avatar
                    img(src="assets/images/clients/testimonial-2.jpg" alt="testimonial images")
                  .testimonial-bio
                    .bio-info
                      h3 Zahra Burnett
                      span United States
              .owl-item
                .single-testimonial
                  .rating-box
                    ul
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                  .testimonial-content
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.
                  .avatar
                    img(src="assets/images/clients/testimonial-3.jpg" alt="testimonial images")
                  .testimonial-bio
                    .bio-info
                      h3 Stevie Wills
                      span Germany
              .owl-item
                .single-testimonial
                  .rating-box
                    ul
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                  .testimonial-content
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.
                  .avatar
                    img(src="assets/images/clients/testimonial-1.jpg" alt="testimonial images")
                  .testimonial-bio
                    .bio-info
                      h3 Saabir al-Obeid
                      span Turkey
              .owl-item
                .single-testimonial
                  .rating-box
                    ul
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                  .testimonial-content
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.
                  .avatar
                    img(src="assets/images/clients/testimonial-2.jpg" alt="testimonial images")
                  .testimonial-bio
                    .bio-info
                      h3 Zahra Burnett
                      span United States
              .owl-item.active
                .single-testimonial
                  .rating-box
                    ul
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                  .testimonial-content
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.
                  .avatar
                    img(src="assets/images/clients/testimonial-3.jpg" alt="testimonial images")
                  .testimonial-bio
                    .bio-info
                      h3 Stevie Wills
                      span Germany
              .owl-item
                .single-testimonial
                  .rating-box
                    ul
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                  .testimonial-content
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.
                  .avatar
                    img(src="assets/images/clients/testimonial-2.jpg" alt="testimonial images")
                  .testimonial-bio
                    .bio-info
                      h3 Zahra Burnett
                      span United States
              .owl-item
                .single-testimonial
                  .rating-box
                    ul
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                  .testimonial-content
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.
                  .avatar
                    img(src="assets/images/clients/testimonial-3.jpg" alt="testimonial images")
                  .testimonial-bio
                    .bio-info
                      h3 Stevie Wills
                      span Germany
              .owl-item
                .single-testimonial
                  .rating-box
                    ul
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                  .testimonial-content
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.
                  .avatar
                    img(src="assets/images/clients/testimonial-1.jpg" alt="testimonial images")
                  .testimonial-bio
                    .bio-info
                      h3 Saabir al-Obeid
                      span Turkey
          .owl-nav
            button(type="button" role="presentation" class="owl-prev")
              i.fa.fa-chevron-left
            button(type="button" role="presentation" class="owl-next")
              i.fa.fa-chevron-right
