section.why1
  .container
    .row
      .col-lg-6.col-md-12.avatar
        div
          img(src="assets/images/choose-1.png" alt="")
      .col-lg-6.col-md-12.data
        h2 Why Choose Us?
        h3 Safeguard Your Brand with Cyber Security and IT Solutions
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .row
          .col-lg-6.col-md-6.col-sm-12
            ul 
              li.wow.fadeInRight(data-wow-delay=".4s"): span Remote IT Assistance
              li.wow.fadeInRight(data-wow-delay=".6s"): span Managed IT Service
              li.wow.fadeInRight(data-wow-delay=".8s"): span Practice IT Management
          .col-lg-6.col-md-6.col-sm-12
            ul 
              li.wow.fadeInRight(data-wow-delay="1s"): span Cloud Services
              li.wow.fadeInRight(data-wow-delay="1.2s"): span IT Security Services
              li.wow.fadeInRight(data-wow-delay="1.4s"): span Solving IT Problems
section.why2
  .container
    .row
      .col-lg-6.col-md-12.data
        h2 WHY TRUST US?
        h3 Achieve Digital Transformation For Your Retail Business Services
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .row
          .col-lg-6.col-md-6.col-sm-12
            ul 
              li.wow.fadeInLeft(data-wow-delay=".4s"): span Protect your Business
              li.wow.fadeInLeft(data-wow-delay=".6s"): span Data Security
              li.wow.fadeInLeft(data-wow-delay=".8s"): span Running your Business
          .col-lg-6.col-md-6.col-sm-12
            ul 
              li.wow.fadeInLeft(data-wow-delay="1s"): span Network Security
              li.wow.fadeInLeft(data-wow-delay="1.2s"): span Small Business Owners
              li.wow.fadeInLeft(data-wow-delay="1.4s"): span Network Monitoring
      .col-lg-6.col-md-12.avatar
        div
          img(src="assets/images/choose-2.png" alt="")