section.why1
  .container
    .row
      .col-lg-6.col-md-12.avatar
        div
          img(src="assets/images/choose-1.png", alt="")
      .col-lg-6.col-md-12.data
        h2 Why Choose Us?
        h3 Safeguard Your Brand with Cyber Security and IT Solutions
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .row
          .col-lg-6.col-md-6.col-sm-12
            ul 
              li: span Remote IT Assistance
              li: span Managed IT Service
              li: span Practice IT Management
          .col-lg-6.col-md-6.col-sm-12
            ul 
              li: span Cloud Services
              li: span IT Security Services
              li: span Solving IT Problems
section.why2
  .container
    .row
      .col-lg-6.col-md-12.data
        h2 WHY TRUST US?
        h3 Achieve Digital Transformation For Your Retail Business Services
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .row
          .col-lg-6.col-md-6.col-sm-12
            ul 
              li: span Protect your Business
              li: span Data Security
              li: span Running your Business
          .col-lg-6.col-md-6.col-sm-12
            ul 
              li: span Network Security
              li: span Small Business Owners
              li: span Network Monitoring
      .col-lg-6.col-md-12.avatar
        div
          img(src="assets/images/choose-2.png", alt="")