/** @format */

@use "../utilities/colors" as *;
@use "../utilities/times" as *;

* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;

  body {
    font-family: "Dosis", sans-serif;
    user-select: none;

    a {
      color: black;
      text-decoration: none;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .head {
      padding: {
        top: 50px;
        bottom: 30px;
      }
      text-align: center;
      h2 {
        color: $title-color;
        text-transform: uppercase;
        letter-spacing: 1px;
        font: {
          size: 16px;
          weight: 700;
        }
      }

      p {
        font: {
          size: 40px;
          weight: 800;
        }
        color: $header-color;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: $main-color;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: $main-color;
}
