/** @format */

@use "../utilities/colors" as *;
@use "../utilities/times" as *;

.about-company {
  padding: 100px 15px;
  background-color: $bg-color;

  .data {
    h2 {
      color: $title-color;
      text-transform: uppercase;
      font: {
        size: 17px;
        weight: 600;
      }
    }

    h3 {
      font: {
        size: 38px;
        weight: 700;
      }
      line-height: 1.4;
      color: black;
      margin-bottom: 20px;
    }

    p {
      color: $font-color;
      line-height: 1.8;

      font: {
        size: 17px;
      }
    }

    .analyts {
      .analyt {
        p {
          color: black;
          margin: 6px;
          font: {
            size: 17px;
            weight: 600;
          }

          span {
            font: {
              size: 14px;
              weight: 650;
            }
          }
        }

        .line {
          display: block;
          width: 100%;
          height: 7px;
          background-color: $skill-progress;
          border-radius: 8px;
          margin-bottom: 15px;
          overflow: hidden;

          span {
            display: block;
            height: 100% !important;
            background-color: $main-color;
            transition: $transition20;
            border-radius: 8px;
            width: 0;
          }
        }
      }
    }

    button {
      position: relative;
      background-color: $main-color;
      color: white;
      padding: 15px 36px;
      border-radius: 5px;
      box-shadow: 0 7px 25px rgb(123, 104, 238, 0.25);
      z-index: 1;
      overflow: hidden;
      font: {
        size: 17px;
        weight: 600;
      }
      transition: $transition4;
      margin-top: 20px;
      border: none;
      outline: none;

      a {
        color: white;
      }

      span {
        position: absolute;
        z-index: -1;
        width: 0;
        height: 0;
        display: block;
        border-radius: 30px;
        background-color: $button-hover;
        transform: translate(-50%, -50%);
        transition: width $transition5 ease-in-out,
          height $transition5 ease-in-out;
      }

      &:hover {
        span {
          height: 500px;
          width: 200%;
        }
      }
    }
  }

  .photo {
    div {
      max-width: 620px;

      @media (max-width: 992px) {
        max-width: 800px;
      }

      img {
        width: 100%;
        border-radius: 5px;

        @media (max-width: 1200px) {
          margin-top: 45px;
        }
      }
    }
  }
}

.about {
  padding: 90px 0px 70px;
  background-color: white;

  .about-item {
    display: block;
    text-align: center;
    border-radius: 5px;
    box-shadow: $about-shadow;
    transition: $transition5;
    padding: 35px 20px;
    margin: 10px 0;

    img {
      width: 85px;
    }

    h3 {
      font: {
        size: 20px;
        weight: 650;
      }
    }

    p {
      font: {
        size: 17px;
        weight: 450;
      }
      line-height: 1.6;
      color: $font-color;
    }

    a {
      display: block;
      color: $main-color;
      cursor: default;
      margin: 0;
      font: {
        size: 16px;
        weight: 600;
      }

      svg {
        padding-right: 10px;
        transition: $transition6;
      }

      span {
        cursor: pointer;
      }

      &:hover {
        svg {
          transform: translateX(8px);
        }
      }
    }

    &:hover {
      transform: translateY(-15px);
    }
  }
}
