/** @format */

@use "../utilities/colors" as *;
@use "../utilities/times" as *;

.blog,
.blog-side {
  padding: 30px 0 100px;
  background-color: $bg-color;

  @media (max-width: 767px) {
    padding: 30px 10px 70px;
  }

  .figure {
    .img {
      border-radius: 6px;
      overflow: hidden;
      cursor: pointer;

      img {
        width: 100%;
        transition: $transition3;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .data {
      padding: 15px 25px;

      .author {
        font: {
          size: 16px;
          weight: 550;
          family: "Catamaran", serif;
        }
        svg {
          color: $main-color;
          padding-right: 5px;
          font-size: 15px;

          &:first-of-type {
            border: 1px solid $main-color;
            border-radius: 50%;
            padding: 2px;
            width: 18px;
            height: 18px;
            margin-right: 4px;
          }

          &:last-of-type {
            margin-left: 20px;
          }
        }
      }

      h3 {
        font: {
          size: 23px;
          weight: 700;
        }
        line-height: 1.6;
        margin: 10px 0;
        cursor: pointer;
        transition: $transition3;

        &:hover {
          color: $main-color;
        }
      }

      p {
        font: {
          size: 18px;
          weight: 400;
        }
        line-height: 1.6;
        color: $font-color;
      }

      a {
        display: block;
        color: $main-color;
        cursor: default;
        margin: 0;
        font: {
          size: 16px;
          weight: 600;
        }

        svg {
          padding-right: 10px;
          transition: $transition6;
        }

        span {
          cursor: pointer;
        }

        &:hover {
          svg {
            transform: translateX(8px);
          }
        }
      }
    }
  }
}

.blog {
  .figure {
    background-color: white;
    box-shadow: $services-shadow;
    width: calc(33% - 20px);
    margin: 10px;
    padding: 0;
    border-radius: 6px;
    padding-bottom: 10px;

    @media (max-width: 992px) {
      width: calc(50% - 20px);
      margin: 10px;
    }

    @media (max-width: 767px) {
      width: calc(100% - 10px);
      margin: 5px;
    }
  }
}

.blog-side,
.blog-details {
  padding: 100px 0;
  background-color: white;

  @media (max-width: 767px) {
    padding: 70px 10px 70px;
  }

  .figure {
    background-color: white;
    box-shadow: $services-shadow;
    width: calc(50% - 20px);
    margin: 10px;
    padding: 0;
    border-radius: 6px;
    padding-bottom: 10px;

    @media (max-width: 767px) {
      width: calc(100% - 10px);
      margin: 5px;
    }

    h3 {
      font: {
        size: 20px !important;
        weight: 700;
      }
      line-height: 1.6;
      margin: 10px 0;
      cursor: pointer;
      transition: $transition3;

      &:hover {
        color: $main-color;
      }
    }

    p {
      font: {
        size: 17px !important;
        weight: 400;
      }
      line-height: 1.6;
      color: $font-color;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    @media (max-width: 767px) {
      margin-bottom: 30px;
    }

    @media (max-width: 992px) {
      margin-bottom: 30px;
    }

    .button {
      background-color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font: {
        size: 18px;
        weight: 650;
        family: "Catamaran", serif;
      }
      margin: {
        right: 5px;
        left: 5px;
      }
      transition: $transition3;
      box-shadow: 0 2px 10px 0 #d8dde6;

      &:hover,
      &.active {
        background-color: $main-color;
        color: white;
      }

      &.active {
        transform: translateY(-4px) scale(1.1);
      }
    }
  }

  h3.header {
    position: relative;
    font: {
      size: 23px;
      weight: 650;
    }
    border-bottom: 1px solid #eee;
    padding-bottom: 14px;
    margin-bottom: 20px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 50px;
      height: 1px;
      background-color: $main-color;
    }
  }

  form {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 29px 0px rgba(102, 102, 102, 0.1);

    margin: {
      top: 10px;
      bottom: 30px;
    }

    input {
      width: 80%;
      padding: 15px 10px 15px 20px;
      margin: 10px;
      border-radius: 6px 0 0 6px;
      outline: none;
      border: 1px solid #ddd;
      border-left: 2px solid $main-color;
      margin-right: 0;
      transition: $transition3;

      &::placeholder {
        transition: $transition3;
      }

      &:focus {
        border-color: $main-color;

        &::placeholder {
          opacity: 0;
        }
      }
    }

    button {
      width: 15%;
      padding: 15px 10px;
      outline: none;
      border: 1px solid $main-color;
      background-color: $main-color;
      color: white;
      border-radius: 0 6px 6px 0;
      transition: $transition3;

      &:hover {
        background-color: $title-color;
        border-color: $title-color;
      }
    }
  }
  .popular-task {
    ul {
      li {
        display: flex;
        padding: 5px;

        a {
          img {
            width: 110px;
            border-radius: 10px;
          }
        }

        .data {
          padding-left: 10px;
          p {
            font: {
              size: 14px;
              weight: 600px;
            }
            margin: {
              bottom: 10px;
              top: 5px;
            }
          }

          h4 {
            cursor: pointer;
            font: {
              size: 16px !important;
              weight: 550px;
            }
            transition: $transition3;

            &:hover {
              color: $main-color;
            }

            @media (max-width: 992px) {
              font-size: 18px !important;
            }

            @media (max-width: 767px) {
              font-size: 16px !important;
            }

            @media (min-width: 992px) and (max-width: 1200px) {
              font-size: 14px !important;
            }
          }
        }
      }
    }
  }

  .categories {
    margin-top: 30px;

    li {
      background-color: #f5f5f5;
      padding: 10px 12px;
      margin: 10px 0;
      border-radius: 6px;
      color: black;
      cursor: pointer;
      font: {
        size: 16px;
        weight: 500;
      }
      transition: $transition3;

      &:hover {
        background-color: $main-color;
        color: white;
      }
    }
  }

  .tags {
    margin-top: 30px;

    span {
      display: inline-block;
      padding: 7px 16px;
      margin: 5px;
      border: 1px solid #0000002f;
      border-radius: 6px;
      width: fit-content;
      color: black;
      transition: $transition3;
      cursor: pointer;
      font: {
        size: 15px;
        weight: 550;
        family: "Catamaran", serif;
      }

      &:hover {
        background-color: $main-color;
        color: white;
      }

      @media (max-width: 767px) {
        padding: 5px 12px;
        margin: 4px;
      }
    }
  }
}

.blog-details {
  img {
    border-radius: 8px;
    width: 100%;
    margin: {
      top: 10px;
      bottom: 10px;
    }
  }

  .data {
    margin-top: 12px;
    font: {
      size: 16px;
      weight: 600;
      family: "Catamaran", serif;
    }
    span {
      a {
        color: $main-color;
      }
    }
  }

  h3 {
    font: {
      size: 26px;
      weight: 650;
    }
    margin-top: 10px;
    margin-bottom: 10px;
  }

  p {
    line-height: 1.8;
    font: {
      size: 16px;
      weight: 400;
      family: "Catamaran", serif;
    }
    color: $font-color;
  }

  .tag,
  .link {
    margin-top: 20px;
    h4 {
      display: inline-block;
      font: {
        size: 17px;
        weight: 650;
      }
    }
  }

  .tag {
    span {
      padding: 7px 12px;
      border-radius: 40px;
      border: 1px solid $main-color;
      color: $main-color;
      cursor: pointer;
      transition: $transition3;
      margin: {
        left: 5px;
        right: 5px;
      }
      font: {
        size: 15px;
        weight: 600;
      }

      &:hover {
        background-color: $main-color;
        border-color: $main-color;
        color: white;
      }
    }
  }

  .link {
    h4 {
      margin-right: 10px;
    }
    .anchor {
      display: inline-block;
      a {
        svg {
          color: $main-color;
          border: 1px solid $main-color;
          border-radius: 50%;
          padding: 10px;
          width: 36px;
          height: 36px;
          margin-right: 7px;
          transition: $transition3;
          background-color: transparent;

          &:hover {
            background-color: $main-color;
            border-color: $main-color;
            color: white;
          }
        }
      }
    }
  }

  .prevNext {
    padding: 20px 0;
    margin-top: 20px;
    border: {
      top: 1px solid #ddd;
      bottom: 1px solid #ddd;
    }

    svg {
      padding: 0 10px;
    }

    span {
      font: {
        size: 15px;
        weight: 600;
      }
    }

    a {
      .prev,
      .next {
        &:hover {
          color: $main-color;
        }
      }
    }
  }

  .comments {
    background-color: white;
    box-shadow: 0px 0px 29px 0px rgba(102, 102, 102, 0.08);
    border-radius: 12px;
    padding: 20px;
    margin: {
      top: 30px;
      bottom: 20px;
    }

    h3 {
      font: {
        size: 24px;
        weight: 600;
      }
      margin-bottom: 10px;

      &:last-of-type {
        margin-top: 20px;
      }
    }

    .comment {
      padding: 30px 0;
      border-bottom: 1px solid #ddd;

      img {
        width: 50px;
        border-radius: 15%;
        margin-right: 10px;
      }

      .data {
        h4 {
          font: {
            size: 17px;
            weight: 600;
          }
          margin-bottom: 4px;
        }

        span {
          font: {
            size: 15px;
            weight: 450;
          }
          color: $font-color;
        }

        p {
          font: {
            size: 16px;
            weight: 400;
          }
          margin-top: 10px;
          color: $font-color;
        }

        .reply {
          a {
            padding: 5px 18px;
            margin-top: 10px;
            color: $font-color;
            border: 1px solid #ddd;
            transition: $transition3;
            border-radius: 20px;
            font: {
              size: 15px;
              weight: 400;
            }
            &:hover {
              background-color: $main-color;
              color: white;
              border-color: $main-color;
            }
          }
        }
      }
    }

    #contactForm {
      box-shadow: none;

      input,
      textarea {
        width: 100%;
        padding: 15px 10px 15px 20px;
        margin: 10px 0;
        border-radius: 6px;
        outline: none;
        border: 1px solid #ddd;
        transition: $transition3;

        &::placeholder {
          transition: $transition3;
        }

        &:focus {
          border-color: $main-color;

          &::placeholder {
            opacity: 0;
          }
        }
      }

      textarea {
        height: 150px;
        resize: none;
      }

      button {
        width: 150px;
        border-radius: 6px;
        margin: {
          left: 10px;
          top: 10px;
        }
        padding: 15px;
      }
    }
  }
}
