/** @format */

@use "../utilities/colors" as *;
@use "../utilities/times" as *;

.contact-form {
  padding: 60px 0 100px;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: url("../assets/images/dot-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .container {
    @media (min-width: 1400px) {
      padding: {
        left: 100px;
        right: 100px;
      }
    }

    form {
      padding-top: 30px;

      .sent {
        display: none;
        p {
          width: 100%;
          margin: 8px 15px;
          padding: 12px 15px;
          border-radius: 6px;
          font: {
            size: 17px;
            weight: 500;
          }
          color: white;
          background-color: #03b103;
        }
        &.active {
          display: block;
        }
      }

      input,
      textarea {
        width: 100%;
        margin: 15px;
        padding: 17px;
        border: 1px solid transparent;
        border-left: 2px solid $main-color;
        border-radius: 6px;
        box-shadow: 0 5px 20px rgba(218, 225, 232, 0.8);
        transition: $transition4;
        color: $main-color;
        font: {
          size: 16px;
          weight: 550;
        }

        &::placeholder {
          opacity: 1;
          transition: $transition4;
          font: {
            size: 16px;
            weight: 550;
          }
        }

        &:focus {
          outline: none;
          border-color: $main-color;

          &::placeholder {
            opacity: 0;
          }
        }

        @media (max-width: 767px) {
          margin: {
            top: 10px;
            bottom: 10px;
            right: 0;
            left: 0;
          }
        }
      }

      textarea {
        height: 180px;
        resize: none;
      }

      button {
        margin: 0 15px;
      }
    }
  }
}

.contact-info {
  padding: 60px 0 100px;
  background-color: $bg-color;

  .item {
    display: block;
    text-align: center;
    border-radius: 6px;
    box-shadow: $services-shadow;
    width: calc(33% - 20px);
    margin: 10px;
    transition: $transition4;
    padding: 40px 20px;
    border-top: 3px solid $main-color;
    background-color: white;

    @media (max-width: 992px) {
      width: calc(50% - 20px);
      margin: 10px;
    }

    @media (max-width: 767px) {
      width: calc(100% - 20px);
      margin: 10px;
    }

    h3 {
      font: {
        size: 20px;
        weight: 650;
      }
      margin-bottom: 15px;
    }

    p {
      font: {
        size: 16px;
        weight: 450;
        family: "Catamaran", serif;
      }
      line-height: 1.8;
      color: $font-color;
    }

    span {
      display: block;
      margin-top: 5px;
      font: {
        size: 16px;
        weight: 600;
        family: "Catamaran", serif;
      }
      color: $header-color;
      transition: $transition4;
      cursor: pointer;

      &:hover {
        color: $main-color;
      }
    }

    &:hover {
      transform: translateY(-10px);
    }
  }
}

.map-section {
  position: relative;
  width: 100%;
  height: 450px;
  iframe {
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    touch-action: pan-x pan-y;
  }
}
