/** @format */

@use "../utilities/colors" as *;
@use "../utilities/times" as *;

.landing {
  overflow: hidden;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  top: 0px;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    #370b6f,
    #00429b,
    #006dba,
    #0095ce,
    #2dbcdc
  );

  @media (max-width: 767px) {
    min-height: 110vh;
  }

  .title {
    position: relative;
    z-index: 20;
    .anchor {
      margin-top: 20px;
      margin-bottom: 25px;
      a {
        svg {
          color: white;
          border: 1px solid rgba(255, 255, 255, 0.404);
          border-radius: 8px;
          padding: 10px;
          width: 40px;
          height: 40px;
          margin-right: 14px;
          transition: $transition3;
          background-color: transparent;

          &:hover {
            background-color: $main-color;
            border-color: $main-color;
            color: white;
          }
        }
      }

      @media (max-width: 767px) {
        margin-top: 100px;
        text-align: center;
      }

      @media (max-width: 991px) {
        margin-top: 150px;
      }
    }

    h1 {
      color: white;
      font-size: 68px;
      font-weight: 700;
      margin: 0 0 20px 0;
      line-height: 1.4;

      @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        font-size: 60px;
      }

      @media (max-width: 767px) {
        font-size: 30px;
        text-align: center;
      }

      @media (max-width: 1199px) {
        font-size: 40px;
      }
    }

    p {
      color: #ffffff;
      font-size: 16px;
      margin: 0 0 0 0;
      font-weight: 400;
      line-height: 1.8;
      letter-spacing: 0.2px;
      font-family: "Catamaran", sans-serif;
      margin-bottom: 15px;

      @media (max-width: 767px) {
        text-align: center;
      }
    }

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  .under {
    img {
      position: absolute;
      z-index: -1;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: auto;
    }
  }

  .photo {
    @media (max-width: 767px) {
      margin-top: 40px;
    }
    .banner-image {
      width: 100%;
      img {
        width: 96%;
      }
    }
  }
}

.landing2 {
  overflow: hidden;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  top: 0px;
  min-height: 100vh;

  @media (max-width: 767px) {
    min-height: 110vh;
  }

  background: url("../assets/images/home-bg-2.svg") no-repeat;
  background-size: cover;
  background-position: center;

  h1 {
    color: #f44336;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 15px;
    background-image: linear-gradient(45deg, #f44336 48%, #ff9800 56%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h3 {
    color: #362c72;
    font-size: 68px;
    font-weight: 700;
    margin: 0 0 20px 0;
    width: 650px;
    line-height: 1.4;

    @media only screen and (min-width: 1200px) and (max-width: 1399px) {
      font-size: 58px;
    }

    span {
      color: #f44336;
      background-image: -webkit-linear-gradient(
        45deg,
        #f44336 48%,
        #ff9800 56%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  p {
    color: $font-color;
    font-size: 16px;
    margin: 0 0 0 0;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.2px;
    font-family: "Catamaran", sans-serif;
    margin-bottom: 15px;

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  button {
    background-color: white !important;

    a {
      color: $main-color !important;
    }

    &:hover {
      a {
        color: white !important;
      }
    }
  }

  .button {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: {
      left: 50px;
      bottom: -20px;
      top: 15px;
    }
    background-color: $main-color;
    position: relative;

    svg {
      color: white;
      font-size: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
