/** @format */

@use "../utilities/colors" as *;
@use "../utilities/times" as *;

.services1,
.services2,
.services3,
.feature {
  padding: 30px 15px 80px;

  .service {
    display: block;
    text-align: left;
    border-radius: 6px;
    box-shadow: $services-shadow;
    width: calc(33% - 20px);
    margin: 10px;
    transition: $transition9;

    @media (max-width: 992px) {
      width: calc(50% - 20px);
      margin: 10px;
    }

    @media (max-width: 767px) {
      width: calc(100% - 10px);
      margin: 5px;
    }

    h3 {
      font: {
        size: 20px;
        weight: 650;
      }
    }

    p {
      font: {
        size: 17px;
        weight: 450;
      }
      line-height: 1.8;
      color: $font-color;
    }

    a {
      display: block;
      color: $main-color;
      cursor: default;
      margin: 0;
      font: {
        size: 16px;
        weight: 600;
      }

      svg {
        padding-right: 10px;
        transition: $transition6;
      }

      span {
        cursor: pointer;
      }

      &:hover {
        svg {
          transform: translateX(8px);
        }
      }
    }

    &:hover {
      transform: translateY(-15px);
    }
  }
}

.services1 {
  .service {
    img {
      width: 50px !important;
      border-radius: 4px;
      transition: $transition6;
      filter: brightness(0) saturate(100%) invert(59%) sepia(85%)
        saturate(3196%) hue-rotate(325deg) brightness(98%) contrast(103%);
      mix-blend-mode: multiply;
    }

    &:hover {
      transform: translateY(-15px);

      img {
        transform: rotateY(180deg);
      }
    }
  }
}

.services2 {
  .service {
    transition: $transition6;
    padding: 45px 40px;

    @media (max-width: 767px) {
      width: calc(100% - 30px);
      margin: 10px 15px;
    }

    .holder {
      position: relative;
      display: inline-block;
      transition: $transition9;
      width: 50px;
      height: 50px;
      will-change: transform;

      &.holder2 {
        left: -50px;
      }

      img {
        position: absolute;
      }

      .img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: $transition5;
      }

      .img-hover {
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
      }
    }

    &:hover {
      .img {
        opacity: 0;
        visibility: hidden;
      }
      .img-hover {
        opacity: 1;
        visibility: visible;
      }

      .holder {
        transform: rotateY(180deg);
      }

      background-color: $main-color;

      h3,
      p,
      a span,
      a svg {
        color: white;
      }
    }
  }
}

.services3 {
  padding: 50px 0 100px;

  @media (max-width: 767px) {
    padding: 60px 0;
  }

  .service {
    padding: 30px 30px;

    @media (max-width: 767px) {
      width: calc(100% - 30px);
      margin: 10px 15px;
    }

    img {
      width: 50px;
    }

    ul {
      padding: {
        top: 10px;
        bottom: 10px;
      }
      border: {
        top: 2px solid #e6e5f1;
        bottom: 2px solid #e6e5f1;
      }
      margin: {
        top: 22px;
        bottom: 20px;
      }

      li {
        position: relative;
        padding: 5px;
        padding-left: 20px;
        color: $font-color;
        font: {
          size: 16px;
          weight: 400;
          family: "Catamaran", serif;
        }

        &::before {
          content: "";
          position: absolute;
          left: 0px;
          top: 12px;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: $main-color;
        }
      }
    }
  }
}

.services-details {
  padding: 100px 0;

  @media (max-width: 767px) {
    padding: 60px 0;
  }

  .holder-img {
    padding: 0 30px 40px 30px;

    img {
      width: 100%;
      border-radius: 8px;
    }

    @media (max-width: 767px) {
      padding: 0 0 40px 0;
    }
  }

  h3 {
    font: {
      size: 26px;
      weight: 650;
    }
  }

  p {
    line-height: 1.8;
    font: {
      size: 17px;
      weight: 450;
    }
    color: $font-color;
  }

  .holder {
    background-color: #eee;
    border-radius: 8px;
    margin-bottom: 25px;
    padding: 30px 25px;

    h3 {
      position: relative;
      font: {
        size: 23px;
        weight: 650;
      }
      border-bottom: 1px solid white;
      padding-bottom: 14px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 50px;
        height: 1px;
        background-color: $main-color;
      }
    }

    ul {
      margin-top: 20px;
      li {
        padding: 10px;
        border-radius: 6px;
        background-color: $main-color;
        color: white;
        margin: 10px 0;
        cursor: pointer;
        transition: $transition5;
        font: {
          weight: 550;
        }

        &:hover {
          background-color: $button-hover;
        }
      }
    }

    button {
      display: block;
      width: 100%;
      font: {
        size: 16px;
        weight: 550;
        family: "Catamaran", sans-serif;
      }
      transition: $transition4;
      margin: {
        top: 10px;
      }
      &:first-of-type {
        margin-top: 20px;
      }
    }
  }
}

.feature {
  .service {
    padding: 30px 20px;
    transition: $transition4;
    box-shadow: 0px 10px 57px 0px rgba(0, 0, 0, 0.08);

    img {
      width: 70px;
    }

    h3 {
      font: {
        size: 20px;
        weight: 650;
      }
      margin: 15px 0;
    }
  }
}
