/** @format */

$main-color: #7b68ee;
$icons-color: #ff561d;
$title-color: #ff9800;
$services-shadow: 5px 7px 15px 2px rgba(82, 90, 101, 0.12);
$font-color: #5f5f5f;
$bg-color: #f7f8f8;
$skill-progress: #ddddff;
$header-color: #404040;
$footer-color: #042c4c;
$border-color: rgb(255, 255, 255, 0.2);
