footer
  .newSletter
    .container
      .row.email
        .col-lg-6.col-md-6.col-sm-12.title
          h3 Sign Up Our Newsletter
          p.mt-20 We Offer An Informative Monthly Technology Newsletter - Check It Out.
        .col-lg-6.col-md-6.col-sm-12.input
          form
            input#email-input(type='email', placeholder='Enter Your Email', name='email', required, autocomplete='email')
            button(type='submit') Subscribe Now
  .links
    .container
      .row
        .col-lg-4.col-md-6.col-sm-12
          .logo
            a(href="index.html"): img(src="assets/images/logo.png", alt="")
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consectetur laboris.
          .anchor
            a(href="#"): i.fa-brands.fa-facebook-f
            a(href="#"): i.fa-brands.fa-x-twitter
            a(href="#"): i.fa-brands.fa-youtube
            a(href="#"): i.fa-brands.fa-linkedin
        .col-lg-2.col-md-6.col-sm-12
          h4 Our Services
          ul
            li: a(href="#") Startup Solutions
            li: a(href="#") Web Development
            li: a(href="#") Networking Services
            li: a(href="#") SEO Optimization
            li: a(href="#") Apps Development
        .col-lg-2.col-md-6.col-sm-12
          h4 Useful Links
          ul
            li: a(href="#") About Us
            li: a(href="#") Case Study
            li: a(href="#") Contact Us
            li: a(href="#") Privacy Policy
            li: a(href="#") Terms & Conditions
        .col-lg-4.col-md-6.col-sm-12.contact
          h4 Contact Info
          p
            i.fa-solid.fa-phone-volume
            | Phone
            span +1 (123) 456 7890p
          p
            i.fa-regular.fa-envelope
            | Email
            span: a(href="mailto:ahmahmd@std.mans.edu.eg") demo@example.com
          p
            i.fa-solid.fa-location-dot
            | Address
            span 526 Melrose Street, Water Mill, 11976 New York
  .copyright
    .container
      .row
        .col-lg-6.col-md-6.col-sm-12
          p © 2024 
            a(href="https://www.github.com/GziXnine" target="_blank") Techvio 
            | - All Rights Reserved.
        .col-lg-6.col-md-6.col-sm-12.con
          p 
            a(href="terms.html") Terms & Conditions 
            span |
            a(href="privacy.html") Privacy Policy