header
  nav.navbar.navbar-expand-lg.bg-body-tertiary
    .container
      a.navbar-brand(href="index.html")
        img(src="assets/images/logo.png" alt="logo image")
      button.navbar-toggler.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.toggler-icon
        span.toggler-icon
        span.toggler-icon
      .collapse.navbar-collapse(id="navbarSupportedContent")
        ul.navbar-nav
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Home
            ul.dropdown-menu
              li
                a.dropdown-item(href="index.html") Home 1
              li
                a.dropdown-item(href="landing2.html") Home 2
              li
                a.dropdown-item(href="landing3.html") Home 3
              li
                a.dropdown-item(href="landing4.html") Home 4
              li
                a.dropdown-item(href="landing5.html") Home 5
          li.nav-item
            a.nav-link(href="about.html") About Us
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Services
            ul.dropdown-menu
              li
                a.dropdown-item(href="services1.html") Service 1
              li
                a.dropdown-item(href="services2.html") Service 2
              li
                a.dropdown-item(href="services3.html") Service 3
              li
                a.dropdown-item(href="services-details.html") Service Details
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Portfolio
            ul.dropdown-menu
              li
                a.dropdown-item(href="portfolio.html") Portfolio 
              li
                a.dropdown-item(href="portfolio-details.html") Portfolio Details
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Pages
            ul.dropdown-menu
              li
                a.dropdown-item(href="about.html") About Us
              li
                a.dropdown-item(href="team.html") Team
              li
                a.dropdown-item(href="pricing.html") Pricing
              li
                a.dropdown-item(href="error.html") 404 Error
              li
                a.dropdown-item(href="faq.html") FAQ
              li
                a.dropdown-item(href="coming-soon.html") Coming Soon
              li
                a.dropdown-item(href="terms.html") Terms & Conditions
              li
                a.dropdown-item(href="privacy.html") Privacy Policy
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Blog
            ul.dropdown-menu
              li
                a.dropdown-item(href="blog.html") Blog Grid
              li
                a.dropdown-item(href="blog-side.html") Blog Right Sidebar
              li
                a.dropdown-item(href="blog-details.html") Blog Details
          li.nav-item
            a.nav-link(href="contact.html") Contact
          li.nav-item.form
            form.container.justify-content-end
              button.default-btn(type="button") Get It Support
                span