//- !Meta Data
meta(charset='UTF-8')
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name='viewport', content='width=device-width, initial-scale=1.0')
//- !SEO Meta Tags
meta(name='description', content='A professional website providing exceptional services in various domains.')
meta(name="keywords" content="HTML, CSS, JavaScript, Web Design, Web Development, Services") 
meta(name='author', content='Ahmed Allam')
//- !Open Graph for social media preview
meta(property="og:title", content=`${pageTitle}`)
meta(property="og:description", content="Providing top-notch web development and design services.")
meta(property="og:image", content="assets/images/social-preview.png")
meta(property="og:url", content="https://yourwebsite.com")
meta(property="og:type", content="website")
//- !Instructions for search engines
meta(name='robots', content='index, follow') 
//- !Theme color for mobile browsers
meta(name='theme-color', content=`${mainColor}`)