//-! jQuery File
script(src="js/jquery.min.js")
//-! Bootstrap 
script( src="js/bootstrap.bundle.min.js")
//-! Isotope Animation
script(src="js/isotope.pkgd.min.js")
//-! Swiper Function
script(src="js/swiper.min.js")
script(src="js/owl.carousel.min.js")
//-! This Render Icon As SVG... -->
script(src="js/all.min.js")
//-! JavaScript File
script(src="js/main.js")
script(src="js/plugins.js")
//-! Live Reload
script(src="http://localhost:35729/livereload.js")
//-! Animate CSS Library
script(src="js/wow.min.js")
script(src="js/vanilla-tilt.min.js")

