//- !Favicon
link(rel="icon", href="assets/images/")
//- !Bootstrap 
link(rel="stylesheet" href="css/bootstrap.min.css")
//- !Main Template CSS File
link(rel="stylesheet" href="css/style.css")
//- !Render All Elements Normally
link(rel="stylesheet" href="css/normalize.min.css")
//- !Font Awesome Library
link(rel="stylesheet" href="css/all.min.css")