//- !Favicon
link(rel="icon" href="assets/images/icon.png")
//- !Bootstrap 
link(rel="stylesheet" href="css/bootstrap.min.css")
//- !Main Template CSS File
link(rel="stylesheet" href="css/style.css")
//- !Render All Elements Normally
link(rel="stylesheet" href="css/normalize.min.css")
//- !Font Awesome Library
link(rel="stylesheet" href="css/all.min.css")
//- !Animate CSS Library
link(rel="stylesheet" href="css/animate.min.css")
link(rel="stylesheet" href="css/swiper.min.css")
link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
link(rel="stylesheet" href="css/owl.carousel.min.css")