- var pageTitle = "Techvio";
- var mainColor = "#7b68ee";

- var ServicesOne = [['app-development.png', 'target.png', 'analytics.png', 'psychometric.png', 'data.png', 'mobile-app.png'], ['Web Development', 'Digital Marketing', 'Startup Solutions', 'Networking Services', 'SEO Optimization', 'Apps Development']]

