extends ../layouts/sub-layout

block variables
  - var fileName = "About Us";
  - var number = "1";
block section
  include ../blocks/about-company
  include ../blocks/subscribe
  include ../blocks/team
  include ../blocks/subscribe2
  include ../blocks/customers