extends ../layouts/sub-layout

block variables
  - var fileName = "Blog Right Sidebar";
  - var number = "3";
block section
  section.blog-side
    .container
      .row 
        .col-lg-8.col-md-12.col-sm-12
          .row
            .col-lg-6.col-md-6.col-sm-12.figure
              .img
                img(src="assets/images/blog/blog-1.jpg" alt="")
              .data
                .author
                  i.fa-solid.fa-user
                  | Author 
                  i.fa-regular.fa-calendar
                  | 17 June 2024
                h3 Planning for a Safe Return to the Workplace IT Solutions
                p Lorem ipsum dolor sit amet, consectetu adipiscing elit, sed eiusmod tempor incididunt ut labore dolore magna aliqua
                a(href="blog-details.html").my-10
                  i.fa-solid.fa-arrow-right-long 
                  span Read More
            .col-lg-6.col-md-6.col-sm-12.figure
              .img
                img(src="assets/images/blog/blog-2.jpg" alt="")
              .data
                .author
                  i.fa-solid.fa-user
                  | Author 
                  i.fa-regular.fa-calendar
                  | 20 June 2024
                h3 Announcing Our New Smiles for Success Charity
                p Lorem ipsum dolor sit amet, consectetu adipiscing elit, sed eiusmod tempor incididunt ut labore dolore magna aliqua
                a(href="blog-details.html").my-10
                  i.fa-solid.fa-arrow-right-long 
                  span Read More
            .col-lg-6.col-md-6.col-sm-12.figure
              .img
                img(src="assets/images/blog/blog-3.jpg" alt="")
              .data
                .author
                  i.fa-solid.fa-user
                  | Author 
                  i.fa-regular.fa-calendar
                  | 25 June 2024
                h3 Machine Learning Applications for Every Industry
                p Lorem ipsum dolor sit amet, consectetu adipiscing elit, sed eiusmod tempor incididunt ut labore dolore magna aliqua
                a(href="blog-details.html").my-10
                  i.fa-solid.fa-arrow-right-long 
                  span Read More
            .col-lg-6.col-md-6.col-sm-12.figure
              .img
                img(src="assets/images/blog/blog-4.jpg" alt="")
              .data
                .author
                  i.fa-solid.fa-user
                  | Author 
                  i.fa-regular.fa-calendar
                  | 27 June 2024
                h3 Planning for a Safe Return to the Workplace IT Solutions
                p Lorem ipsum dolor sit amet, consectetu adipiscing elit, sed eiusmod tempor incididunt ut labore dolore magna aliqua
                a(href="blog-details.html").my-10
                  i.fa-solid.fa-arrow-right-long 
                  span Read More
            .col-lg-6.col-md-6.col-sm-12.figure
              .img
                img(src="assets/images/blog/blog-5.jpg" alt="")
              .data
                .author
                  i.fa-solid.fa-user
                  | Author 
                  i.fa-regular.fa-calendar
                  | 28 June 2024
                h3 Announcing Our New Smiles for Success Charity
                p Lorem ipsum dolor sit amet, consectetu adipiscing elit, sed eiusmod tempor incididunt ut labore dolore magna aliqua
                a(href="blog-details.html").my-10
                  i.fa-solid.fa-arrow-right-long 
                  span Read More
            .col-lg-6.col-md-6.col-sm-12.figure
              .img
                img(src="assets/images/blog/blog-6.jpg" alt="")
              .data
                .author
                  i.fa-solid.fa-user
                  | Author 
                  i.fa-regular.fa-calendar
                  | 30 June 2024
                h3 Machine Learning Applications for Every Industry
                p Lorem ipsum dolor sit amet, consectetu adipiscing elit, sed eiusmod tempor incididunt ut labore dolore magna aliqua
                a(href="blog-details.html").my-10
                  i.fa-solid.fa-arrow-right-long 
                  span Read More
            .col-lg-12
              .buttons
                .button.buttonrl: i.fas.fa-chevron-left
                .button#button1 1
                .button#button2.active 2
                .button#button3 3
                .button#button4 4
                .button.buttonrl: i.fas.fa-chevron-right
        .col-lg-4.col-md-12.col-sm-12
          aside.sidebar
            form
              input#email-input(type='text' placeholder='Search' name='search', required, autocomplete='search')
              button(type='submit'): i.fas.fa-search
            .popular-task
              h3.header Popular Posts
              ul
                li.d-flex
                  a(href="blog-details.html")
                    img(src="assets/images/blog/blog-1.jpg" alt="")
                  .data
                    p 17 June 2024
                    h4 Planning for a Safe Return to the Workplace IT Solutions
                li.d-flex
                  a(href="blog-details.html")
                    img(src="assets/images/blog/blog-2.jpg" alt="")
                  .data
                    p 20 June 2024
                    h4 Announcing Our New Smiles for Success Charity
                li.d-flex
                  a(href="blog-details.html")
                    img(src="assets/images/blog/blog-3.jpg" alt="")
                  .data
                    p 25 June 2024
                    h4 Machine Learning Applications for Every Industry
            .categories
              h3.header Categories
              ul
                li.flex-between
                  span Business
                  span (33)
                li.flex-between
                  span Solution
                  span (45)
                li.flex-between
                  span Technology
                  span (20)
                li.flex-between
                  span Digital Marketing
                  span (15)
                li.flex-between
                  span Graphic Design
                  span (7)
            .tags
              h3.header Tags
              span Web Design 
              span Responsive 
              span Applications 
              span Solutions 
              span Industry 
              span Marketing 
              span Development 
              span Startup 
              span Graphic Design 
              span SEO 
              span Data Security