include ../components/variable
block variables
  - var fileName = "Error";
doctype html
html(lang="en")
  head 
    include ../components/meta
    title= `${fileName} 404`
    include ../components/styles
    include ../components/fonts
  body
    block section
    section.error 
      .container 
        img(src="assets/images/404.png" alt="")
        h1 Page Not Found
        p The page you are looking for might have been removed had its name changed or is temporarily unavailable.
        button.default
          a(href="index.html") Go to Home
    include ../components/scripts