extends ../layouts/layout

block main
  include ../blocks/services1
  include ../blocks/about-company
  include ../blocks/why
  include ../blocks/subscribe
  include ../blocks/team
  include ../blocks/subscribe2