extends ../layouts/layout

block main
  include ../blocks/about-company
  include ../blocks/subscribe
  include ../blocks/services1
  include ../blocks/portfolio
  include ../blocks/subscribe2
  include ../blocks/testimonial
  include ../blocks/team
  include ../blocks/blog
  include ../blocks/customers