extends ../layouts/layout

block main
  include ../blocks/services2
  include ../blocks/portfolio
  include ../blocks/subscribe
  include ../blocks/testimonial
  include ../blocks/step-work
  include ../blocks/subscribe2
  include ../blocks/blog
  include ../blocks/customers