extends ../layouts/layout

block main
  include ../blocks/landing6
  include ../blocks/halfServices3
  include ../blocks/subscribe3
  include ../blocks/our-solution
  include ../blocks/features
  include ../blocks/subscribe
  include ../blocks/testimonial
  include ../blocks/team
  include ../blocks/blog
  include ../blocks/customers
  include ../blocks/contact