extends ../layouts/layout

block main
  include ../blocks/subscribe2
  include ../blocks/subscribe
  include ../blocks/testimonial
  include ../blocks/team
  include ../blocks/blog
  include ../blocks/customers