extends ../layouts/layout

block main
  include ../blocks/landing4
  include ../blocks/about
  include ../blocks/about-company
  include ../blocks/services1
  include ../blocks/portfolio
  include ../blocks/why
  include ../blocks/pricing
  include ../blocks/subscribe2
  include ../blocks/customers
  include ../blocks/blog