extends ../layouts/sub-layout

block variables
  - var fileName = "Portfolios Details";
  - var number = "3";
block section
  section.protfolio-details
    .container
      img(src="assets/images/portfolio/portfolio-details-1.jpg" alt="")
      h3 Our Mission is to Establish Healthy Work Relationships
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ea commodo consequat.
      h4 We work to Create a Better way
      p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
      p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
      .row
        .col-lg-3.col-md-6.col-sm-4.col-4
          h4 Author
          p Jessica Smith
        .col-lg-2.col-md-6.col-sm-8.col-8
          h4 Category
          p Virtual, Technology
        .col-lg-2.col-md-6.col-sm-4.col-4
          h4 Date
          p June 20, 2024
        .col-lg-3.col-md-6.col-sm-8.col-8
          h4 Share
          .anchor
            a(href="#"): i.fa-brands.fa-facebook-f
            a(href="#"): i.fa-brands.fa-x-twitter
            a(href="#"): i.fa-brands.fa-instagram
            a(href="#"): i.fa-brands.fa-linkedin
        .col-lg-2.col-md-6.col-sm-12
          h4 Works Preview
          button.active.default-btn
            a(href="https://gzixnine.github.io/Techvio/public/" target="_blank") Live Preview
            span