include ../components/variable

doctype html
head 
  include ../components/meta
  title= pageTitle
  include ../components/styles
  include ../components/fonts
body
  include ../components/header
  block main
    main
      aside
      section
  include ../components/footer
  include ../components/scripts