/** @format */

// !Utilities File
@use "utilities/colors" as *;

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@for $i from 1 through 6 {
  $j: $i * 5;
  .m-#{$j} {
    margin: #{$j}px;
  }
  .p-#{$j} {
    padding: #{$j}px;
  }
  .mx-#{$j} {
    margin-left: #{$j}px;
    margin-right: #{$j}px;
  }
  .mr-#{$j} {
    margin-right: #{$j}px;
  }
  .ml-#{$j} {
    margin-left: #{$j}px;
  }
  .px-#{$j} {
    padding-left: #{$j}px;
    padding-right: #{$j}px;
  }
  .pr-#{$j} {
    padding-right: #{$j}px;
  }
  .pl-#{$j} {
    padding-left: #{$j}px;
  }
  .my-#{$j} {
    margin-top: #{$j}px;
    margin-bottom: #{$j}px;
  }
  .mt-#{$j} {
    margin-top: #{$j}px;
  }
  .mb-#{$j} {
    margin-bottom: #{$j}px;
  }
  .py-#{$j} {
    padding-top: #{$j}px;
    padding-bottom: #{$j}px;
  }
  .pt-#{$j} {
    padding-top: #{$j}px;
  }
  .pb-#{$j} {
    padding-bottom: #{$j}px;
  }
}

.w-100 {
  width: 100%;
}

.py-100 {
  padding: 100px 0;
}

.br-6 {
  border-radius: 6px;
}
